{% load static %}
<footer class="footer-7 text-center-xs">
    <div class="container">
        <div class="row">
            <div class="col-sm-6"> <span class="type--fine-print">© <span class="update-year">2019</span>&nbsp;Baekfactor Sdn bhd — All Rights Reserved</span>
            </div>
            <div class="col-sm-6 text-right text-center-xs">
                <ul class="social-list list-inline">
                    <li><a href="#"><i class="socicon icon socicon-trello icon--xs"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/baekfactor-sdn-bhd/" target="_blank"><i class="socicon icon socicon-linkedin icon--xs"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>