
{% extends 'base.html' %} {% load static %} {% block content %}
<div class="main-container">
    <section class="switchable space--sm">
        <div class="container">
            <div class="row">
                <div class="col-md-7 text-center"> <img alt="Image" src="{% static 'img/wedding-5.jpg' %}"> </div>
                <div class="col-md-5">
                    <div class="switchable__text">
                        <h2>Premium, fast and minimalist</h2>
                        <p class="lead">you are our first priority to provide best solutions through our expertise in growing your business</p>
                        <form action="https://tech.us4.list-manage.com/subscribe/post?u=89f4176ef6139dffba3cecf0e&amp;id=3f39a62321" data-success="Thanks for signing up.  Please check your inbox for a confirmation email." data-error="Please provide your name and email address and agree to the terms." data-success-redirect="https://www.baek.tech"> <input class="validate-required" type="text" name="NAME" placeholder="Your Name"> <input class="validate-required validate-email" type="email" name="EMAIL" placeholder="Email Address"> <input class="validate-required" type="checkbox" name="group[13737][1]"> <span>I have read and agree to the <a href="#">terms and conditions</a></span> <button type="submit" class="btn btn--primary type--uppercase">Let&nbsp;us&nbsp;contact&nbsp;you<br></button>
                            <div style="position: absolute; left: -5000px" aria-hidden="true"> <input type="text" name="b_77142ece814d3cff52058a51f_f300c9cce8" tabindex="-1" value=""> </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="cta cta-4 border--bottom space--xxs">
        <div class="container">
            <div class="row">
                <div class="col-md-12"> <span class="label label--inline">How we do it</span> <span>We customise according to your requirement. Tell us your story.</span> </div>
            </div>
        </div>
    </section>
    <section class="pricing space--xs">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-6">
                    <div class="row">
                        <div class="col-lg-5 col-md-6">
                            <div class="feature feature-6"> <i class="icon color--primary icon-Data-Center icon--sm"></i>
                                <h5>Infrastructure Design</h5>
                                <p> Design and deploy network, server and cabling structure to complete the organisation requirement </p>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-6">
                            <div class="feature feature-6"> <i class="icon color--primary icon-Security-Check icon--sm"></i>
                                <h5>Data Protection</h5>
                                <p> You have a great infrastructure design. This need to be insured through backup protection. Whats more important were the recovery. </p>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-6">
                            <div class="feature feature-6"> <i class="icon color--primary icon-Network-Window icon--sm"></i>
                                <h5>Network Security</h5>
                                <p> Prevent and protect inbound and outbound traffic from attack or vulnerability. Protection cover from server till end point </p>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-6">
                            <div class="feature feature-6"> <i class="icon color--primary icon-Sidebar-Window icon--sm"></i>
                                <h5>Application Development</h5>
                                <p> Application development and design to help fill the gap encounter inside the organisation. From custom web application development to flow system application till Internet of Things</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-12">
                    <div class="pricing pricing-1 boxed boxed--border boxed--lg text-center">
                        <h4>Discover More</h4> <span class="h1"><span>Data Protection</span></span>
                        <p> key to prevent before too late. Lost of data or system failure can paralyzed your organization. </p> <span class="label">hello</span>
                        <a class="btn btn--primary" href="#purchase-template"> <span class="btn__text">
                    SCHEDULE AN APPOINTMENT</span> </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="switchable feature-large space--xxs">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 col-lg-5">
                    <div class="switchable__text">
                        <h2>Premium services backed by<br>friendly support</h2>
                        <p class="lead">You will fill good with the comfort and friendly from our dedicated technical support members. They are hassle free and efficient to interact with.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="boxed boxed--lg boxed--border">
                        <div class="feature feature-2"> <i class="icon icon-Clock-Back color--primary"></i>
                            <div class="feature__body">
                                <h5>Ready to support</h5>
                                <p> Work around the clock from call, whatsapp, email, remote access, and on-site support</p>
                            </div>
                        </div>
                        <div class="feature feature-2"> <i class="icon icon-Duplicate-Window color--primary"></i>
                            <div class="feature__body">
                                <h5>Technology Transfer</h5>
                                <p> Transfer of knowledge based on the solutions deployed</p>
                            </div>
                        </div>
                        <div class="feature feature-2"> <i class="icon color--primary icon-Address-Book2"></i>
                            <div class="feature__body">
                                <h5>Documentation</h5>
                                <p> Dedicated site and library specifically documented based from solutions deployed</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="space--xxs text-right">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="feature"> <img alt="Image" src="{% static 'img/Fortinet.png' %}" class="border--round"> </div>
                </div>
                <div class="col-md-2">
                    <div class="feature"> <img alt="Image" src="{% static 'img/Acronis.png' %}" class="border--round"> </div>
                </div>
                <div class="col-md-1">
                    <div class="feature"> <img alt="Image" src="{% static 'img/Kaspersky.png' %}" class="border--round"> </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}